body
{
    background-color: aquamarine;
    justify-content: center;
    display: flex;
}
section
{
    background-color: white;
    height: 100px;
    width: 500px;
    border-radius: 10px;
}

section h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    display:flex;
    padding: 20px 20px 20px 50px;
}